.landing_page_container {
    display: flex;
 	flex-direction: column;
 	background-color: #ff6161;
 	height: 100vh;
 	width: 100%;
 	margin: 0;
}
.landing_page_container_inner {
	display: flex;
 	flex-direction: column;
	 justify-content: space-between;
 	height: 80vh;
 	width: 100%;
	 padding-top: 5rem;
}
.landing_btn_container {
    display: flex;
	flex-direction: row;
	justify-content: center;
}
.badges_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.home_page_text_container {
	width: 100%;
	text-align: center;
}

.landing_arrow_container {
    display: flex;
	justify-content: center;
	height: 6rem;
}
.landing_icon_container {
	display: flex;
	justify-content: center;
	height: 12rem;
	width: 100%;
}
.landing_btn {
	display: flex;
	flex-direction: row;
	height: 48px;
	width: 213px;
	border-radius: 2px;
	border: 1px solid #474747;
	margin: 2rem;
	padding: 0.4rem;
	background-color: white;
	/* -webkit-box-shadow: 5px 5px 15px -1px #000000; */
	cursor: pointer;
	text-decoration: none;
	text-align: inline;
}
.landing_Arrow_container {
	display: flex;
	justify-content: center;
	height: 6rem;
}
.arrow_down_landing {
	cursor: pointer;
}