@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

/* Homepage fonts and style */
.home_title {
	font-size: 48px;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin: 0%;
}
.home-description {
	font-size: 48px;
	color: #fec401;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0%;
	font-weight: lighter;
}
.button_homepage_text {
	font-size: 36px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0%;
	color: #3f3b3b;
}
.icon_homepage {
	color: #3f3b3b;
}
.nav_text {
	padding-right: 3rem;
	font-size: 1.3rem;
	cursor: pointer;
	color: white;
	text-shadow: 4px 2px 4px #4e0505;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	z-index: 200;
}
/* about me fonts and style */
.about_title {
	margin-top: 5rem;
	color: white;
	font-size: 4rem;
}
.about_text {
	color: #ececec;
	font-size: 2rem;
	width: 60%;
	text-align: left;
}
