@import '../styles/fonts/fonts.css';
@import '../styles/layout/homePage_layout.css';
@import '../styles/layout/contact.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
select {
	-webkit-appearance: none;
}
