@import '../styles/fonts/fonts.css';
@import '../styles/layout/homePage_layout.css';
@import '../styles/layout/contact.css';
@import '../styles/landingPage/landing.css';
@import '../styles/contact/contact.css';
@import '../styles/aboutMe/aboutMe.css';
@import '../styles/navigation/nav.css';
@import "../styles/previousProjects/previousProjects.css";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}
select {
	-webkit-appearance: none;
}
/* page scroll */
